.search {
    width: 500px;
    position: relative;
    &-input {
        input {
            border-radius: 0;
            border: 0;
            background: rgba(52, 152, 251, 0.17);
            color: #fff;
            outline: none;
        }
    }
    &-results {
        position: absolute;
        left: 0;
        top: 70px;
        background: #031628;
        width: 100%;
        line-height: normal;
        > ul {
            margin: 0;
            padding: 0;
            > li {
                list-style: none;
                > a {
                    color: #fff;
                    display: block;
                    padding: 10px;
                    &:hover {
                        color: #3498fb;
                    }
                }
            }
        }
    }
}
